<!DOCTYPE html>
<html>
<head>
  <title>欢迎来到我的rails电商网站~</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "blog", :media => "all" %>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="banner">
<table>
<tr>
<td id="tdpad">
<i class="fa fa-line-chart fa-4x" ></i>
</td>
<td>
  <% if current_user %>
   

   <% if current_user.usertype=='user' %>
<h1 > 你好，用户<%= current_user.username %>！ </h1>

<% else %>
<h1> 你好，商家<%= current_user.username %> ！</h1>
<% end %>

<% else %>
<h1> 请登陆 </h1>
<% end %>
</td>
</tr>
</table>
</div>
<table>
<tr>
<td id="left-pic">
<div id="left-panel">



  <% if current_user %>

<div id="link"><i class="fa fa-cubes fa-1.5x" >&nbsp;</i><%= link_to '商品页', blogs_path,class: "btn",id: "btn" %></div></br>
  
   <% if current_user.usertype=='user' %>

  
  <div id="link"><i class="fa fa-shopping-cart fa-1.5x" >&nbsp;&nbsp;</i><%= link_to '购物车', carts_path,class: "btn",id: "btn" %></div>
    <br/>
    
   <div id="link"><i class="fa fa-star fa-1.5x" >&nbsp;</i> <%= link_to '收藏夹', stars_path,class: "btn",id: "btn" %></div></br>
   
   
   <% else %>
   
  
      <div id="link"><i class="fa fa-star fa-1.5x" >&nbsp;</i> <%= link_to '店铺页', user_store(current_user),class: "btn",id: "btn" %></div></br>
   
    <% end %>

    
    
    <div id="link"><i class="fa fa-newspaper-o fa-1.5x" >&nbsp;</i><%= link_to '查订单', orders_path,class: "btn",id: "btn" %></div></br>
    
      <div id="link"><i class="fa fa-id-card-o fa-1.5x" >&nbsp;</i><%= link_to '信息页', user_path(current_user),class: "btn",id: "btn" %></div></br>
     
  <div id="link"><i class="fa fa-sign-out fa-1.5x" >&nbsp;</i><%= link_to '退出', logout_path,class: "btn",id: "btn" %></div>
  
<% else %>
  <div id="link"><i class="fa fa-user-circle-o fa-1.5x" >&nbsp;</i><%= link_to '登录', login_path,class: "btn",id: "btn" %></div>
  
  </br>
   <div id="link"><i class="fa fa-user-plus fa-1.5x" >&nbsp;</i><%= link_to "注册", new_user_path ,class: "btn",id: "btn"%></div>
  


<% end %>
<br/> 





</div>
</td>
<td id="right-pic">
<div id="main-panel">
<%= yield %>
</div>
</td>
</tr>
</table>
<div id="footer">
Copyright Musel &copy; 2023
</div>

</body>
</html>

