<div id="<%= dom_id book %>">
  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <strong>Bookname:</strong>
    <%= book.bookname %>
  </p>

  <p>
    <strong>Bookaddress:</strong>
    <%= book.bookaddress %>
  </p>

  <p>
    <strong>Bookmobile:</strong>
    <%= book.bookmobile %>
  </p>

</div>
