<p style="color: green"><%= notice %></p>

<table>
<tr>
<td id="tdpad">
<i class="fa fa-edit fa-3x " ></i>
</td>
<td>
<h1>编辑信息</h1>
</td>
<td>
  <%= link_to "继续下单", books_path,class: "linkpro",id: "linkpro" %>
</td>

<td>
  <%= link_to "个人信息", user_path(current_user) ,class: "linkpro",id: "linkpro"%> 
</td>
</tr>
</table>

<%= render "form", book: @book %>

<br>

  <%= button_to "删除信息", @book, method: :delete,class: "linkpro",id: "linkpro" %>
