<p style="color: green"><%= notice %></p>

<p style="color: green"><%= notice %></p>


<table>
<tr>
<td id="tdpad">
<i class="fa fa-shopping-cart fa-3x " ></i>
</td>
<td>

<h1>选择收货人信息</h1>
</td>
<td>

<div style="height:55px;">



<%= link_to "新建信息", new_book_path,class: "linkpro",id: "linkpro" %>

</td>
<td>

<div style="height:55px;">



<%= link_to "回购物车", carts_path,class: "linkpro",id: "linkpro" %>

</td>
</tr>
</table>



<div id="books">
  <% @books.each do |book| %>
  
  <% if book.user_id==current_user.id %>
  
  <div id="bookline">
     <p>
    <strong>收货人姓名：</strong>
    <%= book.bookname %>
  </p>

  <p>
    <strong>收货人地址：</strong>
    <%= book.bookaddress %>
  </p>

  <p>
    <strong>收货人手机号：</strong>
    <%= book.bookmobile %>
  </p>
<table>
<tr>
<td>
      
      <%=button_to '选择下单', {:controller => :books, :action => 'bookneworder', :id => book.id}, :method => :get  , class: "linkpro",id: "linkpro"  %>
    </td>
    <td>  
<%= link_to "编辑信息", edit_book_path(book) , class: "linkpro",id: "linkpro" %> 
</td>
</tr>
</table>

    </div>
    </div>
    <% end %>
  <% end %>
</div>

