<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>
  
  <p>
    <strong>Password:</strong>
    <%= user.usertype %>
  </p>
  
  
  
 <% if user.usertype=='user' %> 
  <table>
<tr>
<td id="tdpad">
<i class="fa fa-comments-o fa-3x " ></i>
</td>
<td>
<h1>评价展示</h1>
</td>
</tr>
</table>
 <div id="books">
  <%= render :partial => user.books %>
  </div>
  <% end %>
  

</div>
